In [2]:
import pandas as pd

In [3]:
df_relatorios = pd.read_csv('Relatório.csv')

In [4]:
df_relatorios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 9 columns):
Data                505 non-null object
Número              505 non-null object
Início vigência     505 non-null object
Fim vigência        505 non-null object
Tipo                505 non-null object
Aditivo             96 non-null object
Contratado          505 non-null object
Valor (R$)          505 non-null object
Número de anexos    505 non-null int64
dtypes: int64(1), object(8)
memory usage: 35.6+ KB

In [5]:
df_relatorios.head()

,Data,Número,Início vigência,Fim vigência,Tipo,Aditivo,Contratado,Valor (R$),Número de anexos
0,08/02/2018,2018.02.08.03,08/02/2018,31/12/2018,Contrato original,NaN,MILTON GOMES DE OLIVEIRA FILHO - ME,"330.896,52",0
1,08/02/2018,2018.02.08.02,08/02/2018,31/12/2018,Contrato original,NaN,JOSÉ LINS DE ALBUQUERQUE FILHO EPP,"352.866,09",0
2,08/02/2018,2018.02.08.01,08/02/2018,31/12/2018,Contrato original,NaN,VERDE VALE COMERCIO E SERVIÇOS EIRELI,"76.227,36",0
3,08/02/2018,2018.02.08.04,08/02/2018,31/12/2018,Contrato original,NaN,EDER PEREIRA CORREIA - ME,"8.146,80",0
4,15/02/2018,2018.03.28.1,15/02/2018,31/12/2018,Contrato original,NaN,CHRISTIANY VIEIRA DA SILVA ME,"34.600,00",0

In [6]:
df_relatorios[df_relatorios['Valor (R$)'] == '0,00']

,Data,Número,Início vigência,Fim vigência,Tipo,Aditivo,Contratado,Valor (R$),Número de anexos
177,13/04/2018,2017.09.11.02,13/04/2018,13/04/2018,Aditivo de rescisão de contrato,Aditivo 1,ERIVALDO CORREIA PEREIRA,"0,00",0
214,20/04/2018,20180643,20/04/2018,31/12/2018,Contrato original,NaN,ALFA LOCAÇAO DE EQUIPAMENTOS LTDA-ME,"0,00",0
379,14/05/2018,2017.07.14.01,14/05/2018,14/05/2018,Aditivo de rescisão de contrato,Aditivo 1,ELIAS DOS SANTOS,"0,00",0

In [7]:
df_relatorios['Valor (R$)'].max()

'985.450,90'

In [8]:
from collections import Counter

In [9]:
Counter(df_relatorios['Aditivo'])

Counter({nan: 409,
         'Aditivo 2': 14,
         'Aditivo 6': 2,
         'Aditivo 7': 2,
         'Aditivo 8': 2,
         'Aditivo 1': 56,
         'Aditivo 19': 1,
         'Aditivo 3': 9,
         'Aditivo 4': 5,
         'Aditivo 5': 4,
         'Aditivo 20': 1})

In [10]:
df_relatorios[df_relatorios['Aditivo'] == 'Aditivo 20']

,Data,Número,Início vigência,Fim vigência,Tipo,Aditivo,Contratado,Valor (R$),Número de anexos
425,05/06/2018,20130729,05/06/2018,02/12/2018,Aditivo de duração,Aditivo 20,DIMENSIONAL LOCAÇOES E SERVIÇOS LTDA,"501.279,48",0

In [11]:
df_relatorios[df_relatorios['Aditivo'] == 'Aditivo 19']

,Data,Número,Início vigência,Fim vigência,Tipo,Aditivo,Contratado,Valor (R$),Número de anexos
62,07/03/2018,20130729,07/03/2018,05/06/2018,Aditivo de duração,Aditivo 19,DIMENSIONAL LOCAÇOES E SERVIÇOS LTDA,"501.279,48",0

In [18]:
df_relatorios[df_relatorios['Número de anexos'] > 0]

Empty DataFrame
Columns: [Data, Número, Início vigência, Fim vigência, Tipo, Aditivo, Contratado, Valor (R$), Número de anexos]
Index: []