In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from decimal import Decimal
from re import sub
import locale

locale.setlocale(locale.LC_ALL, '')

contracts_2017 = pd.read_csv('data/relatorio_2017.csv')
contracts_2018 = pd.read_csv('data/relatorio_2018.csv')
contracts_2019 = pd.read_csv('data/relatorio_2019.csv')

In [2]:
all_contracts = pd.concat([contracts_2017, contracts_2018, contracts_2019])

In [3]:
all_contracts.head()

,Data,Número,Início vigência,Fim vigência,Tipo,Aditivo,Contratado,Valor (R$),Número de anexos
0,06/01/2017,20170019,06/01/2017,31/01/2017,Contrato original,NaN,MÉTODO CONTABILIDADE E CONSULTORIA SS LTDA-ME,"4.500,00",0
1,06/01/2017,20170021,06/01/2017,31/01/2017,Contrato original,NaN,MÉTODO CONTABILIDADE E CONSULTORIA SS LTDA-ME,"4.500,00",0
2,06/01/2017,20170023,06/01/2017,31/01/2017,Contrato original,NaN,MÉTODO CONTABILIDADE E CONSULTORIA SS LTDA-ME,"3.500,00",0
3,06/01/2017,20170024,06/01/2017,31/01/2017,Contrato original,NaN,MÉTODO CONTABILIDADE E CONSULTORIA SS LTDA-ME,"4.500,00",0
4,06/01/2017,20170020,06/01/2017,31/01/2017,Contrato original,NaN,MÉTODO CONTABILIDADE E CONSULTORIA SS LTDA-ME,"4.500,00",0

In [4]:
def to_float(x):
    x = sub(r'[.]', '', x)
    x = sub(r'[,]', '.', x)
    return float(x)

In [5]:
all_contracts['Valor (R$)'] = all_contracts['Valor (R$)'].apply(to_float)

In [6]:
contratados = all_contracts.groupby(['Contratado']).sum()['Valor (R$)']

In [7]:
def format_value(x):
    return round(x, 2)
contratados = contratados.apply(format_value)

In [8]:
def filter_values(x):
    if(x>4000.00):
        return x
contratados = contratados.apply(filter_values).dropna()

In [9]:
contratados_sorted = contratados.sort_values(axis=0, ascending=False).head()

In [10]:
def format_to_string(x):
    return locale.currency(x, grouping=True)

contratados_sorted_str = contratados_sorted.apply(format_to_string)

In [17]:
contratados_sorted_str

Contratado
INSTITUTO MEDICO DE GESTAO INTEGRADA                       R$ 203.960.796,30
CORAL-CONSTRUTORA RODOVALHO ALENCAR LTDA                   R$ 138.133.291,77
PLANNA EMPREENDIMENTOS E FABRICACAO DE ASFALTO LIMITADA     R$ 46.456.535,53
MANOEL ALEXANDRE DE SOUZA - ME                              R$ 19.181.452,11
CONSTRUTORA TERRA NOVA LTDA                                 R$ 16.476.141,11
Name: Valor (R$), dtype: object