In [1]:
import pandas as pd

In [2]:
df_relatorios = pd.read_csv('Relatório.csv')

In [3]:
df_relatorios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 9 columns):
Data                505 non-null object
Número              505 non-null object
Início vigência     505 non-null object
Fim vigência        505 non-null object
Tipo                505 non-null object
Aditivo             96 non-null object
Contratado          505 non-null object
Valor (R$)          505 non-null object
Número de anexos    505 non-null int64
dtypes: int64(1), object(8)
memory usage: 35.6+ KB

In [4]:
df_relatorios.head()

,Data,Número,Início vigência,Fim vigência,Tipo,Aditivo,Contratado,Valor (R$),Número de anexos
0,08/02/2018,2018.02.08.03,08/02/2018,31/12/2018,Contrato original,NaN,MILTON GOMES DE OLIVEIRA FILHO - ME,"330.896,52",0
1,08/02/2018,2018.02.08.02,08/02/2018,31/12/2018,Contrato original,NaN,JOSÉ LINS DE ALBUQUERQUE FILHO EPP,"352.866,09",0
2,08/02/2018,2018.02.08.01,08/02/2018,31/12/2018,Contrato original,NaN,VERDE VALE COMERCIO E SERVIÇOS EIRELI,"76.227,36",0
3,08/02/2018,2018.02.08.04,08/02/2018,31/12/2018,Contrato original,NaN,EDER PEREIRA CORREIA - ME,"8.146,80",0
4,15/02/2018,2018.03.28.1,15/02/2018,31/12/2018,Contrato original,NaN,CHRISTIANY VIEIRA DA SILVA ME,"34.600,00",0

In [5]:
df_relatorios['Valor (R$)'].min()

'0,00'

In [6]:
df_relatorios['Valor (R$)'].max()

'985.450,90'

In [8]:
from collections import Counter

In [15]:
Counter(df_relatorios['Aditivo'])

Counter({nan: 409,
         'Aditivo 2': 14,
         'Aditivo 6': 2,
         'Aditivo 7': 2,
         'Aditivo 8': 2,
         'Aditivo 1': 56,
         'Aditivo 19': 1,
         'Aditivo 3': 9,
         'Aditivo 4': 5,
         'Aditivo 5': 4,
         'Aditivo 20': 1})

In [16]:
df_relatorios[df_relatorios['Aditivo'] == 'Aditivo 20']

,Data,Número,Início vigência,Fim vigência,Tipo,Aditivo,Contratado,Valor (R$),Número de anexos
425,05/06/2018,20130729,05/06/2018,02/12/2018,Aditivo de duração,Aditivo 20,DIMENSIONAL LOCAÇOES E SERVIÇOS LTDA,"501.279,48",0

In [17]:
df_relatorios[df_relatorios['Aditivo'] == 'Aditivo 19']

,Data,Número,Início vigência,Fim vigência,Tipo,Aditivo,Contratado,Valor (R$),Número de anexos
62,07/03/2018,20130729,07/03/2018,05/06/2018,Aditivo de duração,Aditivo 19,DIMENSIONAL LOCAÇOES E SERVIÇOS LTDA,"501.279,48",0

In [19]:
df_relatorios[df_relatorios['Inicio vigência'] < '01/01/2018']

KeyError: 'Inicio vigência'

In [20]:
import datetime

datetime_str = '09/19/2018'
datetime_str2 = '01/01/2019'
datetime_object = datetime.strptime(datetime_str, '%m/%d/%y')
datetime_object2 = datetime.strptime(datetime_str2, '%m/%d/%y')

NameError: name 'datetime' is not defined