In [72]:
import pandas as pd
from decimal import Decimal
from re import sub

In [73]:
df_csv = pd.read_csv('Consulta.csv')

In [74]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3232 entries, 0 to 3231
Data columns (total 8 columns):
Data                       3232 non-null object
Empenho                    3232 non-null int64
Unidade gestora            3232 non-null object
CPF/CNPJ                   3049 non-null object
Natureza da despesa        3232 non-null object
Modalidade da licitação    3232 non-null object
Registro                   3232 non-null object
Valor (R$)                 3232 non-null object
dtypes: int64(1), object(7)
memory usage: 202.1+ KB

In [75]:
def to_float(x):
    x = sub(r'[.]', '', x)
    x = sub(r'[,]', '.', x)
    return float(x)

In [76]:
df_csv['Valor (R$)'] = df_csv['Valor (R$)'].apply(to_float)

In [77]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3232 entries, 0 to 3231
Data columns (total 8 columns):
Data                       3232 non-null object
Empenho                    3232 non-null int64
Unidade gestora            3232 non-null object
CPF/CNPJ                   3049 non-null object
Natureza da despesa        3232 non-null object
Modalidade da licitação    3232 non-null object
Registro                   3232 non-null object
Valor (R$)                 3232 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 202.1+ KB

In [78]:
df_csv['Valor (R$)'].min()

2.95

In [79]:
df_csv['Valor (R$)'].max()

10400000.0

In [80]:
df_csv['Valor (R$)'].mean()

67560.63483601485

In [81]:
df_csv[df_csv['Valor (R$)'] == df_csv['Valor (R$)'].min()]

,Data,Empenho,Unidade gestora,CPF/CNPJ,Natureza da despesa,Modalidade da licitação,Registro,Valor (R$)
832,20/03/2018,20030021,053 - Sec.Mun.Desenv.Soc.e Trabalho - SEDEST,XX.X00.000/ 0433-20,3.3.90.39.00 - Outros serv. de terc. pessoa ju...,Outros/não se aplica,Realizado,2.95

In [82]:
df_csv[df_csv['Valor (R$)'] == df_csv['Valor (R$)'].max()]

,Data,Empenho,Unidade gestora,CPF/CNPJ,Natureza da despesa,Modalidade da licitação,Registro,Valor (R$)
1675,02/05/2018,2050075,005 - Secretaria Municipal de Educação,NaN,3.1.90.11.00 - Vencimentos e vant. fixas pesso...,Outros/não se aplica,Realizado,10400000.0

In [83]:
df_csv['Unidade gestora'].unique()

array(['004 - Secretaria Municipal de Saúde',
       '005 - Secretaria Municipal de Educação',
       '050 - Secretaria Municipal de Cultura',
       '014 - Secretaria Mun. Seg. Publica e Cidadania',
       '012 - Secretaria de Infraestrutura',
       '043 - Autarquia Municipal do Meio Ambiente',
       '046 - Secretaria Municipal de Desenvolvimento Econômico',
       '052 - Sec. Mun. de Esporte e Juventude',
       '013 - Secretaria de Meio-Ambiente e Serv. Publicos',
       '021 - Demutran - Dpto Municipal de Transito',
       '049 - Sec. Mun. de Administração e Finanças',
       '051 - Sec. Mun. de Agricultura e Abastecimento',
       '053 - Sec.Mun.Desenv.Soc.e Trabalho - SEDEST',
       '008 - Gabinete do Prefeito',
       '009 - Procuradoria Geral do Municipio',
       '054 - Secretaria Municipal de Turismo e Romaria',
       '042 - Controladoria e Ouvidoria Geral do Municipio',
       '055 - Guarda Civil Municipal - GCM',
       '022 - Fundacao Memorial Padre Cicero',
       '056 - Fundo M.dos Dir.da Criança e Adolescente'], dtype=object)

In [85]:
df_csv[df_csv['Unidade gestora'] == '012 - Secretaria de Infraestrutura'].max()

Data                                                              30/05/2018
Empenho                                                             30050052
Unidade gestora                           012 - Secretaria de Infraestrutura
Natureza da despesa        4.4.90.52.00 - Equipamentos e material permanente
Modalidade da licitação                                      Tomada de preço
Registro                                                           Realizado
Valor (R$)                                                             3e+06
dtype: object

In [87]:
df_csv[df_csv['Unidade gestora'] == '049 - Sec. Mun. de Administração e Finanças'].max()

Data                                                              29/06/2018
Empenho                                                             29060009
Unidade gestora                  049 - Sec. Mun. de Administração e Finanças
Natureza da despesa        4.6.90.71.00 - Principal da dívida contratual ...
Modalidade da licitação                                      Tomada de preço
Registro                                                           Realizado
Valor (R$)                                                             2e+06
dtype: object

In [88]:
from collections import Counter

In [90]:
Counter(df_csv['Empenho'] > 1)

Counter({True: 3232})